*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.photo{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(45, 44, 60, 0.7),rgba(8, 3, 41, 0.7)),url("./taxi.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}
.xyz{
    font-size: 36px;
}
nav{
   width: 100%;
   height: 80px;
    color: #fff;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    top: 0;
    background: #000;
    
    
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 4px 20px;
    font-size: 22px;
}

nav ul li a{
    text-decoration: none !important;
}
.cab{
    color: black;
    font-size: 34px;
}
.icon{
    color: black;
}

.btn{
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    outline: 0;
}
.dark-nav{
    background: #212EA0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

/* ......media query.......... */

@media (max-width:910px) and (min-width:750px){
    nav img{
        height: 50px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 4px 14px;
        font-size: 15px;
    }
    .btn{
        padding: 10px 15px;
        font-size: 15px;
    }

}
@media (max-width:750px){
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
        font-size: 15px;
    }
    .btn{
        padding: 10px 15px;
        font-size: 15px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-menu-icon{
        right: -200px;
    }
    nav img{
        height: 50px;
    }
    

}
.shiv{
    font-size: 25px;

}
.hero{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero h1{
    font-size: 57px;
    font-weight: 600;
}
.hero p{
    font-size: 30px;
}
.bn{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.bn img{
    height: 30px;
}
@media (max-width:850px){
    .hero h1{
        font-size: 40px;
        font-weight: 600;
    }
    .hero p{
        font-size: 30px;
    }
    .bn{
        margin-top: 30px;
    }
    .bn img{
        height: 25px;
    }

}
@media (max-width:550px){
    .hero h1{
        font-size: 30px;
        font-weight: 600;
    }
    .hero p{
        font-size: 20px;
    }
    .bn{
        margin-top: 20px;
    }
    .bn img{
        height: 20px;
    }

}
@media (max-width:390px){
    .hero h1{
        font-size: 27px;
        font-weight: 600;
    }
    .hero p{
        font-size: 26px;
    }
    .bn{
        margin-top: 17px;
    }
    .bn img{
        height: 17px;
    }
    .shiv{
        font-size: 20px;
    }
    .btn{
        font-size: 17px;
    }

}
.btt{
    margin-top: 40px;
}
.btt button{
    margin-left: 10px;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #797979;
    margin: 10px 50px;
    margin-top: 200px;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
}
@media(max-width:700px){
    .footer p{
        font-size: 14px;
    }
    .footer ul li{
        font-size: 14px;
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0;
        border-top: 1px solid #797979;
        margin: 10px 10px;
    }
}
@media(max-width:450px){
    .footer p{
        font-size: 12px;
    }
    .footer ul li{
        font-size: 12px;
    }
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0;
        border-top: 1px solid #797979;
        margin: 10px 4px;
    }

}